body {
    margin: 0;
    padding: 0 100px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
}

/* Mobile version */ 

@media (max-width: 1300px) {
    body {
        padding: 0;
    }
}
