#header {
    padding: 30px;

    .header-theme {
        background-color: #B4BCEF;
        border-radius: 5px;
        padding: 9px 14px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;

        .navbar {
            display: none;
        }

        .mobile-version-menu {
            display: none;
        }
        
        .menu-items-container {

            .menu-items {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                flex-grow: 1;
                gap: 30px;

                padding-left: 0;

                .menu-item {
                    font-family: 'Open Sans';
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    color: white;
                }

            }
        }

        .search-button-container {
            position: relative;

            .search-button-space {
                width: 300px;
                height: 37px;
                padding: 5px 10px;
                background: #FFFFFF;
                border: 1px solid rgba(93, 60, 187, 0.38);
                border-radius: 10px;
            }

            input::placeholder {
                font-size: 18px;
            }

            .search-button {
                position: absolute;
                top: 5px;
                right: 10px;
            }
        }
    }
}

/* Laptop version */

@media (max-width: 1300px)  {
    #header {
    
        .header-theme {

            .navbar {
                display: none;
            }
            
            .menu-items-container {
    
                .menu-items {
                    gap: 20px;
    
                    .menu-item {
                        font-size: 16px;
                    }
    
                }
            }
    
            .search-button-container {
    
                .search-button-space {
                    max-width: 250px;
                    min-width: 100px;
                }
    
                input::placeholder {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 1110px)  {
    #header {
    
        .header-theme {

            .navbar {
                display: none;
            }
            
            .menu-items-container {
    
                .menu-items {
                    gap: 10px;
    
                    .menu-item {
                        font-size: 14px;
                    }
    
                }
            }
    
            .search-button-container {
    
                .search-button-space {
                    max-width: 180px;
                }
    
                input::placeholder {
                    font-size: 14px;
                }
            }
        }
    }
}

/* Mobile version */ 

@media (max-width: 895px)  {
    #header {

        .header-theme {
            padding: 0;

            .logo {
                display: none;
            }
            
            .menu-items-container {
                display: none;
            }
    
            .search-button-container {
                display: none;
            }
        }
    }
}