.theme-banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(133, 185, 231, 0.32);
    backdrop-filter: blur(4px);
    border-radius: 20px;

    margin-top: 40px;

    .image-banner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        padding: 50px 0 20px 0;

        .banner-hidden {
            display: none;
        }

        .image-banner-front {
            width: 90%;
        }
    }

    .image-banner-counter {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding-bottom: 30px;

        .circle {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background-color: white;
            border: 1px solid rgba(94, 53, 177, 0.35);
            border-radius: 50px;
        }
    }
}

/* Mobile version */ 

@media (max-width: 895px) {
    .theme-banner .image-banner-counter .circle {
        width: 10px;
        height: 10px;
        margin-left: 5px;
    }
}