@media (max-width: 895px) {

#header .header-theme .navbar {
    display: block;
}

.container {
    margin: auto;
  }

  .logo-mobile-image {
      width: 57px;
      margin-left: 20px;
  }
  
  .navbar {
    width: 100%;
    padding: 4px 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 43px;
    width: 55px;
    top: 9px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 43px;
    width: 55px;
    position: absolute;
    top: 9px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    height: 100%;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
    z-index: 2;
  }
  
  .navbar .menu-items li {
    background-color: #B4BCEF;
    padding-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .search-button-container-mobile {
    position: relative;
    width: 300px;
  }

  .search-button-space {
    width: 300px;
    height: 37px;
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(93, 60, 187, 0.38);
    border-radius: 10px;
    font-size: 16px;
  }

  .search-button {
    position: absolute;
    top: -5px;
    right: 5px;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}